
// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;



$baseFontSize: 16px;
$baseLineHeight: 20px;

$link: #ffaacc;
